<!DOCTYPE html>
<html>

<head>
    <title>Sumukha Career Page</title>
</head>

<body>
    <h1>Sumukha Career Page</h1>
    <h3>こにちは。これらはわたしのプロジェクトです。</h3>
    <img src="http://127.0.0.1:5000/static/matrix_japanese.png" height="200" , width=100%>
    <!height=600>
        <h2>About myself</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, eius rem delectus consequatur obcaecati saepe
            fugiat recusandae quis non explicabo ipsam omnis, corrupti praesentium iure exercitationem tenetur debitis,
            aperiam rerum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quos quam illum ad aperiam? Iusto, illo
            quia
            dolore accusantium explicabo magnam odit, minus est obcaecati culpa nulla, fuga aliquam exercitationem.</p>
        <h2> My projects</h2>
        <button>test</button>
</body>

</html>